 #beImg, #insB{
	text-align: right;
	color: purple;
	margin:auto;
	margin-right:70px;
	font-family: TimesNewRoman;
 }
	.login {
        width: 15%;
		display: block;
		margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
		margin-right: 100px;
    }   
    .item {
		margin-right: 100px;
		/*background-color: lightblue;*/
		margin-right: 50%;
		margin-left: 50%;
		color: secondary;
		}
		#lg{
			margin-left: 80%;
		}